<a href="https://colab.research.google.com/github/rasool321/Python-CourseWork/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
 # Importing NumPy library
import numpy as np

In [43]:
# Creating a 1D array
arr1 = np.array([1, 2, 3, 4, 5])
print("1-dim",arr1,sep='\n',end='\n\n')

# Creating a 2D array (matrix)
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print("2-dim",arr2,sep='\n',end='\n\n')

# Creating a 3D array (multi-dimensional)
arr3 = np.array([[[1, 2], [3, 4]],[[5, 6], [7, 8]]])
print("multi-dim",arr3,sep='\n')

1-dim
[1 2 3 4 5]

2-dim
[[1 2 3]
 [4 5 6]]

multi-dim
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [44]:
# Creating an array filled with zeros of shape (3, 5)
zeros = np.zeros((3, 5)) #np.zeros( inside this give shape like single digit - 1d , 2digits 2 dimensions like that)
print(zeros)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [45]:
# Creating an array filled with ones of shape (6, 4)
ones = np.ones((6, 4))
print(ones)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [46]:
# Creating an identity matrix of size 6x6
identity = np.eye(6)
print(identity)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

In [47]:
# Creating an array filled with a constant value (False) of shape (5, 9)
full_array = np.full((5, 9), False) # first is the shape and next is the value.
# Creating a 1D array of length 3 filled with the string 'booked'
f = np.full(3, 'booked')
print(full_array)
print(f)

[[False False False False False False False False False]
 [False False False False False False False False False]
 [False False False False False False False False False]
 [False False False False False False False False False]
 [False False False False False False False False False]]
['booked' 'booked' 'booked']

In [48]:
# Creating a range array from 10 to 0 (inclusive) with step -1
range_arr = np.arange(10,-1,-1) # starting , ending and step values
# Creating a range array from 2 to 20 with step 2
r = np.arange(2,20,2)
print(range_arr)
print(r)

[10  9  8  7  6  5  4  3  2  1  0]
[ 2  4  6  8 10 12 14 16 18]

In [49]:
#it divides the range based on the last value (first and second values are start and end)
# Creating an array with 5 equally spaced values between 0 and 50
lin_space = np.linspace(0, 50, 5) # start end division value
# Creating an array with 2 equally spaced values between 0 and 20
l = np.linspace(0, 20, 2)
print(lin_space)
print(l)

[ 0.  12.5 25.  37.5 50. ]
[ 0. 20.]

In [50]:
#random.randint genarates the int values
# Generating random integers between 50 and 100 with shape (10, 20)
rand_int = np.random.randint(50, 100, (10, 20))  #start and end , shape(like how many values it may be 1D,2D,3D)
# Generating 10 random integers between 50 and 100 (1D array)
t = np.random.randint(50, 100, 10)
print(rand_int)
print(t)

[[86 65 50 99 78 75 79 98 79 99 58 59 50 92 90 86 66 86 97 61]
 [74 93 83 58 86 64 99 63 55 63 75 63 78 72 80 80 75 62 51 81]
 [86 77 68 79 63 72 73 80 61 78 60 74 59 65 68 66 57 74 61 67]
 [96 57 61 78 83 70 82 74 94 55 54 57 74 74 94 84 90 65 63 74]
 [65 56 71 92 72 61 98 62 78 82 99 65 94 90 92 95 93 83 95 90]
 [75 59 87 50 68 73 53 79 66 70 68 98 64 65 67 75 96 98 92 67]
 [82 67 91 66 91 76 62 80 67 67 66 50 81 87 59 50 88 72 82 52]
 [53 81 85 77 68 63 93 98 79 95 61 99 72 87 61 71 83 81 93 74]
 [82 87 59 90 87 93 93 76 57 58 71 58 78 95 80 75 75 64 67 71]
 [63 91 83 54 73 80 78 89 77 89 59 57 72 82 53 59 62 54 80 56]]
[96 60 80 59 52 51 99 88 92 63]

In [51]:
#random.rand genarates the float values
# Generating random float values between 0 and 1 with shape (8, 3)
rand_float = np.random.rand(8, 3) #shape (like how many values it may be 1D,2D,3D)
# Generating 8 random float values (1D array)
g=np.random.rand(8)
print(rand_float,'\n')
print(g)

[[0.51784407 0.94966999 0.69597387]
 [0.90466474 0.64789243 0.34530215]
 [0.06549786 0.22062786 0.13737325]
 [0.74429592 0.34669066 0.57766425]
 [0.16835294 0.0379717  0.8171767 ]
 [0.81246485 0.18843566 0.3730624 ]
 [0.74419214 0.18624777 0.41379781]
 [0.23100532 0.65362293 0.76437476]]

[0.83487913 0.21221285 0.9619666  0.26114034 0.8637702  0.12687442
 0.37090221 0.67193303]

In [52]:
# Generating random numbers from a standard normal distribution (mean=0, std=1)
rand_norm = np.random.randn(3, 3)
print(rand_norm)

[[ 0.09803668  0.72213535 -0.55704378]
 [ 0.2271259  -0.74088606 -1.28311581]
 [ 0.36489477 -1.38025482 -1.46514309]]

In [53]:
# Randomly selecting 3 values from the given list
rand_choice = np.random.choice(['html','css','javascript','python','mysql'], 3)
print(rand_choice)

['python' 'mysql' 'mysql']

In [54]:
# Setting seed ensures reproducibility of random numbers
np.random.seed(10)
rand_arr = np.random.randint(6)
print(rand_arr)

1

In [55]:
# Creating a 2D array of shape (6, 2)
arr = np.array([[1, 2], [4, 5],[6,7],[8,7],[1,2],[4,5]])
# Getting shape of array (6 rows, 2 columns)
print(arr.shape)

(6, 2)

In [56]:
# Reshaping array into shape (4, 3)
reshaped = arr.reshape(4,3)
print(reshaped)

[[1 2 4]
 [5 6 7]
 [8 7 1]
 [2 4 5]]

In [57]:
# Flattening array into 1D
flattened = arr.flatten()
print(flattened)

[1 2 4 5 6 7 8 7 1 2 4 5]

In [58]:
# Transposing array (rows become columns, columns become rows)
transposed = arr.T
print(transposed)

[[1 4 6 8 1 4]
 [2 5 7 7 2 5]]

In [59]:
arr = np.array([[10, 20, 30, 40, 50],[40, 50, 60, 70, 80],[70, 80, 90, 100, 110]])

print(arr[0])     # First row
print(arr[-1])    # Last row
print(arr[1:3])   # Rows from index 1 to 2
print(arr[:2])    # First two rows
print(arr[::2])   # Every second row

[10 20 30 40 50]
[ 70  80  90 100 110]
[[ 40  50  60  70  80]
 [ 70  80  90 100 110]]
[[10 20 30 40 50]
 [40 50 60 70 80]]
[[ 10  20  30  40  50]
 [ 70  80  90 100 110]]

In [61]:
# Creating a 3x3 matrix (2D array)
matrix = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])

# Accessing element at row=1, col=2 (2nd row, 3rd column → value = 60)
print(matrix[1, 2])

# Accessing rows 0 to 1 (first two rows), column=2 (3rd column values → [30 60])
print(matrix[0:2, 2])

# Accessing all rows (:), but only column 0 (1st column values → [[10], [40], [70]])
# Note: 0:1 keeps it as a 2D column vector instead of flattening
print(matrix[:, 0:1])

60
[30 60]
[[10]
 [40]
 [70]]

In [62]:
arr = np.array([4, 9, 16, 25, 36])

In [63]:
# Add 1 to every element → [5 10 17 26 37]
print(arr + 1)

# Multiply every element by 2 → [ 8 18 32 50 72]
print(arr * 2)

# Square every element → [  16   81  256  625 1296]
print(arr ** 2)

# Square root of every element → [2. 3. 4. 5. 6.]
print(np.sqrt(arr))

[ 5 10 17 26 37]
[ 8 18 32 50 72]
[  16   81  256  625 1296]
[2. 3. 4. 5. 6.]